{{ nos }}
{{ "=" * nos|length }}

All checks applying to this NOS (including ones applying to multiple).

{% for check in checks|sort(attribute='name') %}
{{ check.name }}
{{ "-" * check.name|length }}

{{ check.function_doc }}

**Tags**

{% for tag in check.tags|sort(attribute='name') %}
* {{ tag|capitalize }}
{%- endfor %}
{% endfor %}