---
name: build
on: [push, pull_request]
jobs:
  std_tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
          $HOME/.poetry/bin/poetry install

      - name: Run black
        run: |
          $HOME/.poetry/bin/poetry run black --check .

      - name: Run linter
        run: |
          $HOME/.poetry/bin/poetry run flake8

      - name: Run type checker
        run: |
          $HOME/.poetry/bin/poetry run mypy -p netlint

      - name: Run Tests
        run: |
          $HOME/.poetry/bin/poetry run coverage run -m pytest
  build_docs:
    needs: std_tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
          $HOME/.poetry/bin/poetry install
    
      - name: Make docs
        run: |
          cd docs
          make html
